<div class="row">

    <div class="col-md-12 footer text-right">
        <address>
            <strong>© 2013-2014 СПбГУТ</strong><br>
            Санкт-Петербургский государственный университет<br>
            телекоммуникаций им. проф. М.А.Бонч-Бруевича<br>
        </address>
    </div>

</div>