<!--<div class="col-md-3" style="padding: 5px;"><img src="/img/spbgut.png"></div>-->

<nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> Главная </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">

                <li> <a href="/problems" title="Задачи"> Задачи </a> </li>

                <% if @user : %>
                <li> <a href="/contests" title="Контесты"> Контесты </a> </li>
                <% end %>

                <% if @user and @user.admin : %>
                <li> <a href="/attempts" title="Попытки решения"> Попытки </a> </li>
                <% end %>

            </ul>

            <% if ( @user ) : %>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-tasks"></span> <%= @user.getFullName() %> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/cabinet"><span class="glyphicon glyphicon-user"></span> <%= @__('Мой кабинет') %></a></li>
                        <% if @user and @user.admin : %>
                            <li><a href="/admin"> <span class="glyphicon glyphicon-wrench"></span> <%= @__('Админпанель') %></a></li>
                        <% end %>
                        <li class="divider"></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> <%= @__('Logout') %></a></li>
                    </ul>
                </li>
            </ul>

            <% else : %>

            <form class="navbar-form navbar-right" action="/login" method="POST">
                <div class="form-group">
                    <input class="col-md-2 form-control" type="text" placeholder="Email" name="email">
                    <input class="col-md-2 form-control" type="password" placeholder="Password" name="pass">
                </div>
                <button type="submit" class="btn btn-default"><%= @__('sign in') %></button>
                <a href="/register" class="btn btn-default"><%= @__('Registration') %></a>
            </form>

            <% end %>
        </div>
    </div>
</nav>

