.date {
  font-size: 11px;
  color: #aaa;
}

.author {
  color: #aaa;
}

.title {
  padding: 5px 0 15px 0;
  display: block;
  font-size: 24px;
}

.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

.main-head {
  text-align: center;
  padding: 20px;
}

.btn {
  outline: none !important;
}

.center {
  text-align: center;
}

.tags {
  margin-top: 10px;
}

a.tag {
  margin: 0 10px 0 0;
}

/*.error {
  color: #FF2602;
}*/

.problem-text table {width: 100%;}
.problem-text table td {border:1px solid;}

.cntSeparator {
    font-size: 54px;
    margin: 20px 7px;
    color: #000;
}
.desc { margin: 7px 3px 7px 85px; }
.desc div {
    float: left;
    font-family: Arial;
    width: 70px;
    margin-right: 65px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}
#counter {
    margin-left: 70px;
}

.desc-min { margin: 7px 3px 7px 5px; }

.desc-min div {
    float: left;
    font-family: Arial;
    width: 30px;
    margin-right: 40px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.cnt-separator-min {
    font-size: 29px;
    margin: 10px 3px;
    color: #000;
}

.main-content {
    position: relative;
}

#alert {
    position: absolute;
    width: 250px;
    /*height: 100px;*/
    font-size: 18px;
    right: 0;
    display: none;
}

.table td {
    text-align: center;
}

.table tr td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}


.table tbody tr > td {
    vertical-align: middle;
}

.table tbody tr > td.success {
    background-color: #dff0d8 !important;
}

.table tbody tr > td.error {
    background-color: #f2dede !important;
}

.table tbody tr > td.warning {
    background-color: #fcf8e3 !important;
}

.table tbody tr > td.info {
    background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
    background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
    background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
    background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
    background-color: #c4e3f3 !important;
}

.thumbnail {
    text-align: center;
    color: #333;
    text-decoration: none;
}

.thumbnail:hover {
    color: #333;
    text-decoration: none;
}

a.success {
    background-color: #dff0d8 !important;
}

a.error {
    background-color: #f2dede !important;
}

a.warning {
    background-color: #fcf8e3 !important;
}

a.info {
    background-color: #d9edf7 !important;
}

td.source-cell {
    text-align: left;
}


.glyphicon-ok {
    color: #02AC02;
}

.glyphicon-remove {
    color: #D43F3A;
}