<% extend 'layouts/admin' %>

<% block 'title' : %> <h1> Контест </h1> <% end %>

<% block 'content' : %>
<div class="row">

    <div class="col-md-12">

        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/admin/contests<%- ( '/' + @contest.getId() ) if @contest? %>">

            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Наименование контеста</label>
                <div class="col-md-4">
                    <input name="name" id="name" class="form-control" type="text" placeholder="Контест..." value="<%= @contest?.name %>">
                </div>
            </div>

            <div class="form-group">
                <label for="datetimeStart" class="col-md-2 control-label">Начало контеста</label>
                <div class="col-md-4">

                    <div class="input-group date" id="datetimeStart">
                        <input name="datetimeStart" data-date-format="DD.MM.YYYY HH:mm" type="text" class="form-control" value="<%= @moment(@contest?.start).format('DD.MM.YYYY HH:mm') %>" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="datetimeEnd" class="col-md-2 control-label">Завершение контеста</label>
                <div class="col-md-4">

                    <div class="input-group date" id="datetimeEnd">
                        <input name="datetimeEnd" data-date-format="DD.MM.YYYY HH:mm" type="text" class="form-control" value="<%= @moment(@contest?.end).format('DD.MM.YYYY HH:mm') %>" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="problems" class="col-md-2 control-label">Задачи</label>
                <div class="col-md-4">
                    <select name="problems" multiple class="chosen-select form-control" id="problems">
                        <% for problem in @problems : %>
                        <option value="<%- problem?.getId() %>" <%- 'selected' if @contest? and !! @_.find(@contest.problems, (id) -> String(id) == problem.getId()); %> > <%- problem.getName() %> </option>
                        <% end %>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="registred-users" class="col-md-2 control-label">Зарегистрированные пользователи</label>
                <div class="col-md-4">
                    <select name="users" multiple class="chosen-select form-control" id="registred-users">
                        <% for user in @users : %>
                        <option value="<%- user.id %>" <%- 'selected' if @contest? and !! @_.find(@contest.users, (id) -> String(id) == user.getId()); %> > <%- user.lname + ' ' + user.fname %> </option>
                        <% end %>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="true" name="allowregister" <%= 'checked' if @contest?.allowRegister %> > Разрешить регистрацию
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    <button class="btn btn-primary btn-block" type="submit"> <%- if @contest then 'Обновить' else 'Создать' %> контест </button>
                </div>
            </div>

        </form>
    </div>
</div>
<% end %>
