<% extend 'layouts/default' %>

<% block 'title' : %> <h1> Соревнования </h1> <% end %>

<% block 'content' : %>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-condensed col-md-9">
            <tr>
                <td> № </td>
                <td> Контест </td>
                <td> Начало </td>
                <td> Завершение </td>
            </tr>
            <% for contest, i in @contests : %>
            <tr>
                <td> <%= i+1 %> </td>
                <td> <a href="<%- '/contests/' + contest.id %>" itemprop="url"> <%= contest.name %> </a> </td>
                <td> <%= @moment(contest.start).format('DD.MM.YYYY HH:mm:ss') %> </td>
                <td> <%= @moment(contest.end).format('DD.MM.YYYY HH:mm:ss') %> </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>
<% end %>