<% extend 'layouts/default' %>

    <% block 'title' : %> <h1><%- @contest.name %></h1> <% end %>


    <% block 'content' : %>
        <div class="row">
            <div class="col-md-col-md-offset2 col-md-7">
            </div>
            <div class="col-md-3">

                <% if @moment(@contest.start).valueOf() > Date.now() : %>
                    <p>Старт через: <span data-countdown="<%- @moment(@contest.start).format('YYYY/MM/DD HH:mm:ss') %>"></span></p>
                <% else : %>
                    <p>Завершится через: <span data-countdown="<%- @moment(@contest.end).format('YYYY/MM/DD HH:mm:ss') %>"></span></p>
                <% end %>

            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h3> Задачи </h3>
                <% for problem, i in @_.toArray(@cells[@user._id]) : %>

                    <% style = if problem.accepted then "success" else if problem.count then "error" else "warn" %>

                    <div class="col-md-2">
                        <a class="thumbnail  <%- style %>" href="/contests/<%- @contest._id %>/problem/<%- problem.id %>">
                            <small> <%- problem.name  %> </small>
                        </a>
                    </div>

                <% end %>

            </div>
            <div class="col-md-1">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="table-cells" class="table table-bordered table-condensed">
                    <tr>
                        <th> Место </th>
                        <th> Кто </th>
                        <% for problem, i in @contest.problems : %>
                            <th><%= problem.name %></th>
                        <% end %>
                        <th>Время</th>
                    </tr>
                    <% for user, i in @contest.users : %>
                        <tr <%- 'class="info important!"' if user._id.toString() is @user._id.toString() %> >
                            <td> <%- i + 1 %></td>
                            <td> <%- user.lname + ' ' + user.fname %> </td>
                            <% for problem in @contest.problems : %>
                                <%
                                    cell = @cells[user._id][problem._id];
                                    cellClass = if cell.accepted then "success" else if cell.count then "error" else "";
                                %>

                                <td class="<%- cellClass %>" ><%- if cell.accepted then '+' else if cell.count then '-' %> <%= if cell.count then cell.count %> <%- '<br>' + cell.time if cell.time %> </td>
                            <% end %>
                            <td> <%- user.totalTimeToDisplay %> </td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    <% end %>
<% end %>
