<% extend 'layouts/default' %>

<% block 'title' : %> <h1> Попытки </h1> <% end %>

<% block 'content' : %>

<table id="table-attempts" class="table">
    <tr>
        <td> № </td>
        <td> Когда </td>
        <td> Кто </td>
        <td> Задача </td>
        <td> Ответ </td>
        <% if @user and @user.admin : %>
        <td> <%- @__('Подробно') %> </td>
        <% end %>
    </tr>
    <% for attempt, i in @attempts : %>
    <%
    userName = if attempt.user and attempt.user.showFio then attempt.user.lname + ' ' + attempt.user.fname else attempt.user_id;

    rowStyle = switch attempt.ans
        when 1 then 'success'
        when 3 then 'info'
        when 2, 6 then 'danger'
        when 4, 5, 7 then 'danger'

    textAns = switch attempt.ans
        when 1 then 'Accepted'
        when 2 then 'Wrong answer'
        when 3 then 'Time Limit'
        when 4 then 'Presentation error'
        when 5 then 'Compilation error'
        when 6 then 'Runtime error'
        when 7 then 'System error'
    %>
    <tr class="<%= rowStyle %>">
        <td><%= i+1 %> <span class="visibility: hidden"><%= attempt.id %></span></td>
        <td><%= @moment(attempt.dateCreated).format('DD.MM.YYYY HH:mm:ss') %> </td>
        <td><%= attempt.user.lname + ' ' + attempt.user.fname %> </td>
        <td><%= attempt.problem.name %> </td>
        <td><%- textAns + (if attempt.ans != 1 then @__(' на тесте ') + attempt.test else '' ) %> </td>
        <% if @user and @user.admin : %>
        <td> <button class="btn btn-show-source"><%- @__('Подробно') %></button> </td>
        <% end %>
    </tr>
    <% if @user and @user.admin : %>
    <tr style="display: none;">
        <td class="source-cell" colspan="6">
                <pre class="brush: cpp">
                    <%- attempt.source.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;') %>
                </pre>
        </td>
    </tr>
    <% end %>
    <% end %>
</table>

<!--<nav>-->
    <!--<ul class="pagination">-->
        <!--<li><a href="">&laquo;</a></li>-->
        <!--<li><a href="/attempts/1">1</a></li>-->
        <!--<li><a href="/attempts/2">2</a></li>-->

        <!--<% if @page < 3 : %>-->
        <!--<li><a href="/attempts/3">3</a></li>-->
        <!--<% end %>-->

        <!--<% if @page > 2 and @page < @pageCount - 2 : %>-->
        <!--<li><a>...</a></li>-->

            <!--<% if @page isnt 3 : %>-->
            <!--<li><a href="/attempts/<%=@page - 1%>"><%=@page - 1%></a></li>-->
            <!--<% end %>-->

        <!--<li><a href="/attempts/<%=@page%>"><%=@page%></a></li>-->
        <!--<li><a href="/attempts/<%=@page + 1%>"><%=@page + 1%></a></li>-->
        <!--<li><a>...</a></li>-->

        <!--<% else : %>-->
        <!--<li><a>...</a></li>-->
        <!--<% end %>-->

        <!--&lt;!&ndash;<li><a href="/attempts/<%=@pageCount - 3%>"><%= @pageCount - 3 %></a></li>&ndash;&gt;-->
        <!--<li><a href="/attempts/<%=@pageCount - 1%>"><%= @pageCount - 1 %></a></li>-->
        <!--<li><a href="/attempts/<%=@pageCount%>"><%= @pageCount %></a></li>-->
        <!--<li><a href="">&raquo;</a></li>-->
    <!--</ul>-->
<!--</nav>-->
<% end %>
