<% extend 'layouts/default' %>


<% block 'content' : %>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1><%- @post.title %></h1>
        <p><%- @post.text %></p>
    </div>
</div>

<% end %>
<% end %>
