<% extend 'layouts/admin' %>

<% block 'title' : %>
<h1> Редактировать новость </h1>
<% end %>

<% block 'content' : %>

<form id="new-user-form" class="form-horizontal" enctype="multipart/form-data" method="POST" action="/admin/users<%- ( '/' + @userEdit.getId() ) if @userEdit? %>">

    <div class="form-group">
        <label for="fname" class="col-md-2 control-label"> Имя </label>
        <div class="col-md-4">
            <input type="text" id="fname" class="form-control" placeholder="<%- @__('Имя') %>" name="fname"  value="<%- @userEdit?.getFname() %>" required>
        </div>
    </div>

    <div class="form-group">
        <label for="lname" class="col-md-2 control-label"> Фамилия </label>
        <div class="col-md-4">
            <input type="text" id="lname" class="form-control" placeholder="<%- @__('Фамилия') %>" name="lname"  value="<%- @userEdit?.getLname() %>" required>
        </div>
    </div>

    <div class="form-group">
        <label for="group" class="col-md-2 control-label"> Факультет, группа </label>
        <div class="col-md-4">
            <input type="text" id="group" class="form-control" placeholder="<%- @__('Факультет, группа') %>" name="group" value="<%- @userEdit?.getGroup() %>"  required>
        </div>
    </div>


    <div class="form-group">
        <label for="email" class="col-md-2 control-label"> Email </label>
        <div class="col-md-4">
            <input type="email" class="form-control" id="email" placeholder="<%- @__('Email') %>" name="email"  value="<%- @userEdit?.getEmail() %>" required>
        </div>
    </div>


    <div class="form-group">
        <label for="pass" class="col-md-2 control-label"> Пароль </label>
        <div class="col-md-4">
            <input type="password" class="form-control" id="pass" placeholder="<%- @__('Пароль') %>" name="pass" value="<%- @userEdit?.getPass() %>" required>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="true" name="active" <%= 'checked' if @userEdit?.active %> > Активен
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="true" name="admin" <%= 'checked' if @userEdit?.admin %> > Админ
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="">
            <button class="btn btn-primary btn-block" type="submit"> <%- if @userEdit then 'Обновить' else 'Создать' %> пользователя </button>
        </div>
    </div>









</form>

<% end %>

