<% extend 'layouts/default' %>

<% block 'main' : %>
  <h1> Oops something went wrong </h1>
  <br>
  <span> Error </span>
<% end %>

<% block 'content' : %>
  <div id="error-message-box">
    <div id="error-stack-trace">
      <pre>
        <code> <%- @error %> </code>
      </pre>
    </div>
  </div>
<% end %>


