<% extend 'layouts/default' %>

<% block 'content' : %>
<div class="row">

    <form class="col-md-offset-4 col-md-4 form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading">Войти в систему</h2>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email address" name="email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="pass" required>
        </div>

        <button class="btn btn-large btn-primary" type="submit"><%= @__('sign in') %></button>
    </form>

</div>
<% end %>

